{% extends 'base.html' %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body> -->
{% block title %}
    Customer
{% endblock %}
{% block content %}
    <h1>List of Customers</h1>
    <ul>
        {% for c in customer_list %}
        <li>
            <a href="{% url 'customerdetail' c.pk %}">{{ c.fullname }}</a>
            
            
            <img src="{{ c.image }}" width="200px" height="200px" />
            <!-- <br> -->
            <!-- <button type="button" class="btn btn-primary">Edit</button> -->
            
            <br>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
<!-- </body>
</html> -->